extends layout.pug

block header
  title Recipe deletion

block content
    .py-3.text-center
        h2.bd-title Are you sure you want to delete #{recipe.title} recipe?
    form.w-100.needs-validation(method='post')
        input.btn.btn-primary.btn-lg(type='submit', value='Yes')
    a(href=`http://localhost:3001/recipes/${recipe.recipe_id}`): input.btn.btn-primary.btn-lg(value='Cancel')